#top_bar_project_name h1 {
    margin: 0;
    margin-top: 4px;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.magic {
    display: flex !important;
}
/*.input-group-btn .btn-group {
    display: flex !important;
}*/
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#tutorSearchInput, #courseSearchInput {
    border-radius: 4px;
}

#searchDiv {
    padding: 0px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    #top_bar_project_name img {
        width: 80px;
        height: 80px;
        margin-left: 30px; 
        border-radius: 17px;
    }
    /*.dropdown.dropdown-lg .dropdown-menu {
        min-width: 600px;
    }*/
}
@media screen and (max-width: 767px) {
    #adv-search {
        width: 100%;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    #top_bar_project_name img {
        width: 30px;
        height: 30px;
        margin-left: 10px; 
        border-radius: 5px;
    }
    /*.dropdown.dropdown-lg .dropdown-menu {
        min-width: 300px;
    }*/
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }
