body {
	background-color: #eee;
	padding-bottom: 100px;
}

#top_fixed_bar {
	min-height: 50%;
}

#search_result_card {
	margin-top: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

#search_result_header {
	width: 100%;
	text-align: left;
	margin-bottom: 0;

}

.rating_button {
	height: 30px;
	margin-top: 0;
	display: inline-block;
	margin-bottom: 15px;
	margin-left: 10px;
}

.tag_chip {
	float: right;
	margin-bottom: 15px;
	margin-right: 10px;
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.tag_chip img {
    float: left;
    margin: -1px 10px 0 -16px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.rating_chip {
	margin-left: 10px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    vertical-align: middle;
}

#search_result_name {
	height: auto;
	margin-bottom: 0;
}

#search_result_name h3{
	margin: 0;
}

#search_result_footer {
	padding-top: 15px;
	background-color: white;
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px;
}

.serach_result_tag {
	float: right;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#success-upload-alert {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 500px; /* Set a default minimum width */
    max-width: 100%;
    margin-left: -250px; /* Divide value of min-width by 2 */
    background-color: green; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    font-size: 20;
    border-radius: 10px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#success-upload-alert.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.starter-template {
	margin-top: 100px;
	margin-bottom: auto;
	height: 100px;
    padding: 3rem 1.5rem;
    text-align: center
}

.empty-search-text {
	margin-top: 100px;
	margin-bottom: auto;
	height: 100px;
    padding: 3rem 1.5rem;
    text-align: center
}
